body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(
        rgba(18, 18, 18, 0.7),
        rgba(22, 33, 62, 0.7)
    ), url("assets/bg/zombie-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #e0e0e0;
    margin: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
